# build
src/api/bin/
src/api/obj/

# user
*.user

# tests
src/api.Tests/

# env
.vscode/
.DS_Store

# secrets
appsettings.Development.json

# dotnet
project.lock.json
project.fragment.lock.json
artifacts/